* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(120deg, #84c1ea 0%, #023805 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }

.main_container{
    display: flex; 
    flex-direction: row
}